@import '../../../style/variation/taskbar.variation.scss';



:host {
  // max-height: calc(100vh - #{$taskbar-height});
  display: block;
  border-radius: 4px;
  pointer-events: auto;
  position: relative;
}

title {
  display: block;
}

$header-height:3rem;

header {
  background: rgb(222, 225, 230);
  height: $header-height;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  min-width: max-content;
  flex: 0 0 auto;

  &>* {
    flex: 0 0 auto;
  }

  .divider {
    flex: 1;
  }

  mat-icon {
    padding: 0.5rem;

    &:hover {
      background: rgb(199, 202, 207);
      cursor: pointer;
    }

    &.close-btn:hover {
      background: rgb(232, 17, 35);
      color: rgb(255, 255, 255);
    }
  }
}

main {
  // background: white;
  display: flex;
  // max-height: calc(100% - #{$header-height});
  overflow: auto;
  flex: 1 1 auto;

  ::ng-deep>*:first-child {
    margin: auto;
  }
}

.window__container {
  background: rgba(0, 0, 0, 0.32);
  // max-height: calc(100vh - #{$taskbar-height});
  display: flex;
  flex-direction: column;
  height: 100%;
}

//doc 自定义元素
[class^=custom] {
  background: unset;
  display: inline;
  height: unset;
  width: unset;
  overflow: unset;
}

.resize {
  position: absolute;
  pointer-events: auto;
  $size: 4px;

  &.top {
    top: -$size;
  }

  &.bottom {
    bottom: -$size
  }

  &.left {
    left: -$size;
  }

  &.right {
    right: -$size;
  }

  &.top,
  &.bottom {
    left: 0;
    right: 0;
    height: $size;

    &:hover {
      cursor: ns-resize;
    }
  }

  &.left,
  &.right {
    bottom: 0;
    top: 0;
    width: $size;

    &:hover {
      cursor: ew-resize;
    }
  }


}
