@import '../../../style/variation/taskbar.variation.scss';

:host {
  position: absolute;
  //   display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  &.top {
    top: $taskbar-height;
  }

  &.right {
    right: $taskbar-height;
  }

  &.bottom {
    bottom: $taskbar-height;
  }

  &.left {
    left: $taskbar-height;
  }

}

.app--icon {
  width: 56px;
  height: 56px;
  background: blue;
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 1rem;
flex: 0 0 56px;
  &:first-child {
    margin-top: 1rem;
  }

  &.cdk-drag-preview {
    // opacity: 0;
  }

  &.cdk-drag-placeholder {
    opacity: 0;
  }
}
.icon--group{
  display: flex;
}

.app--list {
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  margin-left: 1rem;

  &.cdk-drop-list-dragging .app--icon:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}
