<div cdkDropListGroup class="icon--group">
  <ng-container *ngFor="let column of iconArray">
    <div cdkDropList [cdkDropListData]="column" class="app--list" (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of column;let i=index" cdkDrag class="app--container " (dblclick)="openWindow(item)">
        <div class="app__icon--wraper mat-elevation-z1" [style.background]="item.iconBackground||'transparent'"
          [style.color]="item.iconColor">
          <mat-icon class="icon-8">{{item.icon}}</mat-icon>
        </div>
        <label for="" class="mat-caption truncate app__name">{{item.name}}</label>
      </div>
    </div>
  </ng-container>
</div>