@import '../../../style/variation/taskbar.variation.scss';

:host {
  position: absolute;
  //   display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;

  &.top {
    top: $taskbar-height;
  }

  &.right {
    right: $taskbar-height;
  }

  &.bottom {
    bottom: $taskbar-height;
  }

  &.left {
    left: $taskbar-height;
  }

}

$app-width:3.5rem;

.app--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $app-width;
  overflow: hidden;

  &:hover {
    // background: green;
    // cursor: pointer;
  }

  &:first-of-type {
    margin-top: 1rem;
  }

  margin-bottom: 1rem;

  label {
    word-break: break-all;
  }
}

.app__icon--wraper {
  width: $app-width;
  height: 3.5rem;
  // background: blue;
  border: 1px solid transparent;
  border-radius: 4px;
  flex: 0 0 56px;
  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    // font-size: 2rem;
    width: auto;
    height: auto;
  }



  &.cdk-drag-preview {
    // opacity: 0;
  }

  &.cdk-drag-placeholder {
    opacity: 0;
  }
}

.icon--group {
  display: flex;
}

.app--list {
  display: flex;
  // flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  margin-left: 1rem;

  &.cdk-drop-list-dragging .app--icon:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
}

.app__name {
  max-width: 100%;
}
