@import '../../../style/variation/taskbar.variation.scss';

[class^=taskbar--field--slot__] {
  position: fixed;

  //   background: red;
  //   $taskbar-height: 56px;
  // z-index: -1;
  &.cdk-drop-list-receiving {
    z-index: 1;
  }

  &.slotted {
    z-index: 2;
  }

  &[class*=top] {
    top: 0;
    left: 0;
    right: 0;
    height: $taskbar-height;
  }

  &[class*=right] {
    top: 0%;
    right: 0;
    bottom: 0;
    width: $taskbar-height;
  }

  &[class*=bottom] {
    left: 0;
    right: 0;
    bottom: 0;
    height: $taskbar-height;
  }

  &[class*=left] {
    top: 0;
    left: 0;
    bottom: 0;
    width: $taskbar-height;
  }
}

.cdk-drag {
  width: 100%;
  height: 100%;
}
