@mixin col($layout) {
  $i: 12;
  $prefix: col-;

  @if $layout {
    $prefix:#{$prefix}#{$layout}-
  }

  @while $i>0 {
    &>.#{$prefix}#{$i} {
      flex:0 0 calc(100% / 12 * #{$i});
    }

    $i:$i - 1;
  }

  &>.#{$prefix}auto {
    flex: 0 0 auto;
  }

  &>.#{$prefix}auto-max {
    flex: 1 0 auto;
  }

  &>.#{$prefix}auto-1-1-0 {
    flex: 1 1 0;
  }

  &>.#{$prefix}flex-0-0-0 {
    flex: 0 0 0;
  }
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  @include col(null);

  @media (min-width: 0px) {
    @include col('xs');
  }

  @media (min-width: 600px) {
    @include col('sm');
  }

  @media (min-width: 960px) {
    @include col('md');
  }


  @media (min-width: 1280px) {
    @include col('lg');
  }

  @media (min-width: 1920px) {
    @include col('xlg');
  }

  &.center {
    justify-content: center;
    align-items: center;
  }

  &.column {
    flex-direction: column;
  }

  &.between {
    justify-content: space-between;
  }

}

.border-box {
  box-sizing: border-box;
}

.content-box {
  box-sizing: content-box;
}

.spring {
  flex: 1 1 auto;
}
