<div class="mat-elevation-z1 padding-2 margin-bottom-4 hover-8">
  <h2 class="">附加组件</h2>
  <div>
    <button mat-raised-button [cyiaFabList] color="primary">点击弹出
      <ng-template>
        <button mat-raised-button [cyiaFabList] color="accent">
          继续弹出
          <ng-template #name>
            <button mat-raised-button color="warn">没有了</button>
          </ng-template>
        </button>
      </ng-template>
    </button>
  </div>
</div>
<div class="mat-elevation-z1 padding-2 margin-bottom-4 hover-8">
  <h2 class="">文本复制</h2>
  <div>
    <button mat-raised-button cyiaTextCopy value="这是复制内容复制内容">点击复制</button>
  </div>
</div>
<!-- <div class="mat-elevation-z1 padding-2 margin-bottom-4 hover-8">
  <h2 class="">基本调用</h2>
  <div>
  </div>
</div> -->