<div class="col-auto-1-1-0 mat-elevation-z1 hover-8">
  <header>
    <button mat-mini-fab color="warn" (click)="delete.emit()">
      <mat-icon>remove</mat-icon>
    </button>
    <mat-form-field class="" appearance="fill">
      <mat-select placeholder="选择属性" [(ngModel)]="item.property">
        <mat-option *ngFor="let property of ALLOW_PROPERTY_OBJECT[operate]" [value]="property"> {{property}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-mini-fab (click)="arrayAction(item.value,'add',null,{});arrayAction(item.change,'add',null,{});">
      <mat-icon>add</mat-icon>
    </button>
    <!-- <div class="add__button__row"> </div> -->
  </header>

  <div class="value-list p-2">
    <div *ngFor="let valueItem of item.value;let j=index" class="row center"> <button mat-mini-fab
        (click)="arrayAction(item.value,'remove',j,null)" *ngIf="item.value.length>1" color="warn">
        <mat-icon>remove</mat-icon>
      </button>
      <div class="row column col-flex-0-0-0">

        <app-strong-input [(ngModel)]="valueItem" [typeName]="'keyType'" [valueName]="'key'"
          *ngIf="displayField('key')&&(item.property=='body'||item.property=='headers'||item.property=='params')"
          [placeholder]="'键值'" [propertyTypeOptions]="strongType('key',valueItem.property)">
        </app-strong-input>

        <app-strong-input [(ngModel)]="valueItem" [typeName]="'changeType'" [valueName]="'change'" [placeholder]="'添加值'"
          [propertyTypeOptions]="strongType('change',valueItem.property)" *ngIf="displayField('change')">
        </app-strong-input>
        <app-strong-input [(ngModel)]="valueItem" [typeName]="'type'" [valueName]="'value'"
          [propertyTypeOptions]="strongType('value',valueItem.property)" [placeholder]="'查询值'"
          *ngIf="displayField('value')">
        </app-strong-input>

      </div>
    </div>

  </div>
</div>