button span.mat-button-wrapper {

  // vertical-align: middle;
  // font-size: 0;
  mat-icon {
    vertical-align: top;
  }
}

cyia-upload {
  font-size: 0;
  line-height: 0;
}
cyia-colorpicker{
  mat-tab-group{
    background: white;
  }
}