<div class="hint-wrapper hover-8 mat-elevation-z1 p-4" [ngClass]="status">
  <div class="data">
    <ng-container [ngSwitch]="status">
      <mat-icon *ngSwitchCase="'success'">check_circle</mat-icon>
      <mat-icon *ngSwitchCase="'warn'">warning</mat-icon>
      <mat-icon *ngSwitchCase="'error'">block</mat-icon>
    </ng-container>
    <div>{{message}}</div>

  </div>
  <div class="duration-bar" (animationend)="destoryComponent()"
    [style.animation-duration]="options?options.duration+'s':''">
  </div>
</div>