<div class="mat-elevation-z1 padding-2 margin-bottom-4 hover-8" >
  <h2 class="">基于button</h2>
  <div>
    <h3>Basic Upload</h3>
    <div class="example-button-row">
      <button mat-button>Basic
        <cyia-upload></cyia-upload>
      </button>
      <button mat-button color="primary">Primary
        <cyia-upload></cyia-upload>
      </button>
      <button mat-button color="accent">Accent
        <cyia-upload></cyia-upload>
      </button>
      <button mat-button color="warn">Warn
        <cyia-upload></cyia-upload>
      </button>
      <button mat-button disabled>Disabled
        <cyia-upload></cyia-upload>
      </button>
      <a mat-button routerLink=".">Link
        <cyia-upload></cyia-upload>
      </a>
    </div>

    <h3>Raised Upload</h3>
    <div class="example-button-row">
      <button mat-raised-button>Basic
        <cyia-upload></cyia-upload>
      </button>
      <button mat-raised-button color="primary">Primary
        <cyia-upload></cyia-upload>
      </button>
      <button mat-raised-button color="accent">Accent
        <cyia-upload></cyia-upload>
      </button>
      <button mat-raised-button color="warn">Warn
        <cyia-upload></cyia-upload>
      </button>
      <button mat-raised-button disabled>Disabled
        <cyia-upload></cyia-upload>
      </button>
      <a mat-raised-button routerLink=".">Link
        <cyia-upload></cyia-upload>
      </a>
    </div>


    <h3>Stroked Upload</h3>
    <div class="example-button-row">
      <button mat-stroked-button>Basic
        <cyia-upload></cyia-upload>
      </button>
      <button mat-stroked-button color="primary">Primary
        <cyia-upload></cyia-upload>
      </button>
      <button mat-stroked-button color="accent">Accent
        <cyia-upload></cyia-upload>
      </button>
      <button mat-stroked-button color="warn">Warn
        <cyia-upload></cyia-upload>
      </button>
      <button mat-stroked-button disabled>Disabled
        <cyia-upload></cyia-upload>
      </button>
      <a mat-stroked-button routerLink=".">Link
        <cyia-upload></cyia-upload>
      </a>
    </div>

    <h3>Flat Upload</h3>
    <div class="example-button-row">
      <button mat-flat-button>Basic
        <cyia-upload></cyia-upload>
      </button>
      <button mat-flat-button color="primary">Primary
        <cyia-upload></cyia-upload>
      </button>
      <button mat-flat-button color="accent">Accent
        <cyia-upload></cyia-upload>
      </button>
      <button mat-flat-button color="warn">Warn
        <cyia-upload></cyia-upload>
      </button>
      <button mat-flat-button disabled>Disabled
        <cyia-upload></cyia-upload>
      </button>
      <a mat-flat-button routerLink=".">Link
        <cyia-upload></cyia-upload>
      </a>
    </div>

    <h3>Icon Upload</h3>
    <div class="example-button-row">
      <button mat-icon-button>
        <mat-icon aria-label="Example icon-button with a heart icon">cloud_upload</mat-icon>
        <cyia-upload></cyia-upload>
      </button>
      <button mat-icon-button color="primary">
        <mat-icon aria-label="Example icon-button with a heart icon">cloud_upload</mat-icon>
        <cyia-upload></cyia-upload>
      </button>
      <button mat-icon-button color="accent">
        <mat-icon aria-label="Example icon-button with a heart icon">cloud_upload</mat-icon>
        <cyia-upload></cyia-upload>
      </button>
      <button mat-icon-button color="warn">
        <mat-icon aria-label="Example icon-button with a heart icon">cloud_upload</mat-icon>
        <cyia-upload></cyia-upload>
      </button>
      <button mat-icon-button disabled>
        <mat-icon aria-label="Example icon-button with a heart icon">cloud_upload</mat-icon>
        <cyia-upload></cyia-upload>
      </button>
    </div>

    <h3>Fab Upload</h3>
    <div class="example-button-row">
      <button mat-fab>Basic
        <cyia-upload></cyia-upload>
      </button>
      <button mat-fab color="primary">Primary
        <cyia-upload></cyia-upload>
      </button>
      <button mat-fab color="accent">Accent
        <cyia-upload></cyia-upload>
      </button>
      <button mat-fab color="warn">Warn
        <cyia-upload></cyia-upload>
      </button>
      <button mat-fab disabled>Disabled
        <cyia-upload></cyia-upload>
      </button>
      <button mat-fab>
        <mat-icon aria-label="Example icon-button with a heart icon">cloud_upload</mat-icon>
        <cyia-upload></cyia-upload>
      </button>
      <a mat-fab routerLink=".">Link
        <cyia-upload></cyia-upload>
      </a>
    </div>

    <h3>Mini Fab Upload</h3>
    <div class="example-button-row">
      <button mat-mini-fab>Basic
        <cyia-upload></cyia-upload>
      </button>
      <button mat-mini-fab color="primary">Primary
        <cyia-upload></cyia-upload>
      </button>
      <button mat-mini-fab color="accent">Accent
        <cyia-upload></cyia-upload>
      </button>
      <button mat-mini-fab color="warn">Warn
        <cyia-upload></cyia-upload>
      </button>
      <button mat-mini-fab disabled>Disabled
        <cyia-upload></cyia-upload>
      </button>
      <button mat-mini-fab>
        <mat-icon aria-label="Example icon-button with a heart icon">cloud_upload</mat-icon>
        <cyia-upload></cyia-upload>
      </button>
      <a mat-mini-fab routerLink=".">Link
        <cyia-upload></cyia-upload>
      </a>
    </div>

  </div>
</div>
<div class="mat-elevation-z1 padding-2 margin-bottom-4 hover-8">

  <h2 class="">文件名编辑</h2>
  <div>
    <button class="margin-right-2" mat-stroked-button>
      上传
      <cyia-upload [nameInput]="val"></cyia-upload>
    </button>
    <mat-form-field floatLabel="never">
      <input matInput #val placeholder="请选择文件上传" [disabled]="!val.value">
    </mat-form-field>
  </div>
</div>
<div class="mat-elevation-z1 padding-2 margin-bottom-4 hover-8">

  <h2 class="">拖动上传</h2>
  <div>
    <div style="height: 50px;border: 1px dotted;" cyiaFileDropzone class="dropArea" [(files)]="files">

    </div>


  </div>
</div>
