.row {

  // width: max-content;
  &:first-of-type {
    margin-top: 1rem;
  }

  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  justify-content: space-between;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.margin-right-2 {
  margin-right: 8px;
}

.dropArea {
  &.dropped {
    background: greenyellow;
  }

  &.dropenter {
    border-color: greenyellow;
  }

}
