<div class="row center">
  <label class="col-auto">日历(基于matd添加小时和分钟)</label>
  <div class="col-auto">
    <mat-form-field>
      <cyia-datepicker [matDatepicker]="picker" #cyiadate placeholder="测试标签浮动"></cyia-datepicker>
      <mat-datepicker #picker></mat-datepicker>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-hint>正常提示</mat-hint>
    </mat-form-field>

  </div>
</div>
<div class="row center">
  <label class="col-auto">
    文件上传
  </label>
  <div class="col-auto">
    <button mat-button>
      上传(基于mat-button组件)
      <cyia-upload></cyia-upload>
    </button>
  </div>
</div>
<div class="row center">
  <label class="col-auto">
    图片上传(基于mat-button组件)
  </label>
  <div class="col-auto" style="max-width: 300px">
    <button mat-raised-button>
      图片
      <cyia-upload4image></cyia-upload4image>
    </button>
  </div>
</div>
<div class="row center">
  <label class="col-auto">
    自定义选择器
  </label>
  <div class="col-auto" style="max-width: 300px">
    <mat-form-field>
      <input matInput type="text" [cyiaCustompickerInput]="custom" [ngModel]="1" placeholder="占位符">
      <cyia-custompicker-toggle [for]="custom" matSuffix></cyia-custompicker-toggle>
      <cyia-custompicker-wrapper #custom [component]="dialog" [mode]="1">

      </cyia-custompicker-wrapper>
    </mat-form-field>
  </div>
</div>