/* You can add global styles to this file, and also import other style files */
@import './style/layout/layout.scss';
@import 'style/layout/box-model.scss';
// @import 'style/layout/box-model.scss';
@import 'style/style';

.no-pointer-events {
  pointer-events: none !important;
}

mat-icon {
  // text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
}

.toast-container {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @each $className,
  $property in (h-left, flex-start),
  (h-center, center),
  (h-right, flex-end) {
    &.#{$className} {
      align-items: $property;
    }
  }

  @each $className,
  $property in (v-top, flex-start),
  (v-center, center),
  (v-bottom, flex-end) {
    &.#{$className} {
      justify-content: $property;
    }
  }

  &>div {
    margin: 8px;
    margin-top: 0;

    &:first-of-type {
      margin-top: 8px
    }
  }
}
