<div class="mat-elevation-z1 interccept__item m-b-2" *ngFor="let requestItem of requestList;let z=index">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{z}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="hover-8">
        <header>查询条件</header>
        <main>
          <div class="row  between">
            <div *ngFor="let item of requestItem.retrieve;let i=index" class="hover-8 p-2 col-6 row center border-box">
              <button mat-mini-fab (click)="arrayAction(requestItem.retrieve,'remove',i,null)" color="warn"
                class="col-auto">
                <mat-icon>remove</mat-icon>
              </button>
              <div class="col-auto-1-1-0">
                <mat-form-field class="p-2">
                  <mat-select placeholder="选择属性" [(ngModel)]="item.property">
                    <mat-option *ngFor="let property of ALLOW_PROPERTY_OBJECT.retrieve" [value]="property"> {{property}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="value-list  ">
                  <div *ngFor="let valueItem of item.value;let j=index" class="row hover-8 p-2"> <button mat-mini-fab
                      (click)="arrayAction(item.value,'remove',j,null)" *ngIf="item.value.length>1" color="warn">
                      <mat-icon>remove</mat-icon>
                    </button>
                    <div class="row column">
                      <app-strong-input [(ngModel)]="valueItem" [typeName]="'keyType'" [valueName]="'key'"
                        *ngIf="item.property=='body'||item.property=='headers'||item.property=='params'"
                        [propertyTypeOptions]="strongType('key',valueItem.property)" [placeholder]="'键值'">
                      </app-strong-input>
                      <app-strong-input [(ngModel)]="valueItem" [typeName]="'type'" [valueName]="'value'"
                        [propertyTypeOptions]="strongType('value',valueItem.property)" [placeholder]="'查询值'">
                      </app-strong-input>
                    </div>
                  </div>
                  <div class="add__button__row"> <button mat-mini-fab
                      (click)="arrayAction(item.value,'add',null,{value:''})">
                      <mat-icon>add</mat-icon>
                    </button> </div>
                </div>
              </div>
            </div>
            <div class="add__button__row"> <button mat-mini-fab
                (click)="arrayAction(requestItem.retrieve,'add',null,{value: [{ value: '' }]})">
                <mat-icon>add</mat-icon>
              </button> </div>
          </div>
        </main>
      </div>
      <mat-divider></mat-divider>
      <div class="hover-8">
        <header>新增</header>
        <main>
          <div class="row  between">
            <div *ngFor="let item of requestItem.create;let i=index" class="hover-8 p-2 col-6 row center border-box">
              <button mat-mini-fab (click)="arrayAction(requestItem.create,'remove',i,null)" color="warn"
                class="col-auto">
                <mat-icon>remove</mat-icon>
              </button>
              <div class="col-auto-1-1-0">
                <mat-form-field class="p-2">
                  <mat-select placeholder="选择属性" [(ngModel)]="item.property">
                    <mat-option *ngFor="let property of ALLOW_PROPERTY_OBJECT.create" [value]="property"> {{property}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="value-list">
                  <div *ngFor="let valueItem of item.value;let j=index" class="row hover-8 p-2"> <button mat-mini-fab
                      (click)="arrayAction(item.value,'remove',j,null)" *ngIf="item.value.length>1" color="warn">
                      <mat-icon>remove</mat-icon>
                    </button>
                    <div class="row column">
                      <app-strong-input [(ngModel)]="valueItem" [typeName]="'keyType'" [valueName]="'key'"
                        *ngIf="item.property=='body'||item.property=='headers'||item.property=='params'"
                        [placeholder]="'键值'" [propertyTypeOptions]="strongType('key',valueItem.property)">
                      </app-strong-input>
                      <app-strong-input [(ngModel)]="valueItem" [typeName]="'changeType'" [valueName]="'change'"
                        [placeholder]="'添加值'" [propertyTypeOptions]="strongType('change',valueItem.property)">
                      </app-strong-input>
                    </div>
                  </div>
                  <div class="add__button__row"> <button mat-mini-fab (click)="arrayAction(item.value,'add',null,{});">
                      <mat-icon>add</mat-icon>
                    </button> </div>
                </div>
              </div>
            </div>
            <div class="add__button__row"> <button mat-mini-fab
                (click)="arrayAction(requestItem.create,'add',null,{value: [{ value: '' }],change: [{ value: '' }]})">
                <mat-icon>add</mat-icon>
              </button> </div>
          </div>
        </main>
      </div>
      <mat-divider></mat-divider>
      <div class="hover-8">
        <header>修改</header>
        <main>
          <div class="row  between">
            <div *ngFor="let item of requestItem.update;let i=index" class="hover-8 p-2 col-6 row center border-box">
              <button mat-mini-fab (click)="arrayAction(requestItem.delete,'remove',i,null)" color="warn"
                class="col-auto">
                <mat-icon>remove</mat-icon>
              </button>
              <div class="col-auto-1-1-0">
                <mat-form-field class="p-2">
                  <mat-select placeholder="选择属性" [(ngModel)]="item.property">
                    <mat-option *ngFor="let property of ALLOW_PROPERTY_OBJECT.update" [value]="property"> {{property}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="value-list">
                  <div *ngFor="let valueItem of item.value;let j=index"> <button mat-mini-fab
                      (click)="arrayAction(item.value,'remove',j,null)" *ngIf="item.value.length>1" color="warn">
                      <mat-icon>remove</mat-icon>
                    </button>
                    <div class="row column">
                      <app-strong-input [(ngModel)]="valueItem" [typeName]="'keyType'" [valueName]="'key'"
                        *ngIf="item.property=='body'||item.property=='headers'||item.property=='params'"
                        [placeholder]="'键值'" [propertyTypeOptions]="strongType('key',valueItem.property)">
                      </app-strong-input>
                      <app-strong-input [(ngModel)]="valueItem" [typeName]="'changeType'" [valueName]="'change'"
                        [placeholder]="'添加值'" [propertyTypeOptions]="strongType('change',valueItem.property)">
                      </app-strong-input>
                    </div>
                  </div>
                  <div class="add__button__row"> <button mat-mini-fab (click)="arrayAction(item.value,'add',null,{})">
                      <mat-icon>add</mat-icon>
                    </button> </div>
                </div>
              </div>
            </div>
            <div class="add__button__row"> <button mat-mini-fab
                (click)="arrayAction(requestItem.update,'add',null,{value: [{ value: '' }],change: [{ value: '' }]})">
                <mat-icon>add</mat-icon>
              </button> </div>
          </div>
        </main>
      </div>
      <mat-divider></mat-divider>
      <div class="hover-8">
        <header>删除</header>
        <main>
          <div class="row between">
            <div *ngFor="let item of requestItem.delete;let i=index" class="hover-8 p-2 col-6 row center border-box">
              <button mat-mini-fab (click)="arrayAction(requestItem.delete,'remove',i,null)" color="warn"
                class="col-auto">
                <mat-icon>remove</mat-icon>
              </button>
              <div class="col-auto-1-1-0">
                <mat-form-field class="p-2">
                  <mat-select placeholder="选择属性" [(ngModel)]="item.property">
                    <mat-option *ngFor="let property of ALLOW_PROPERTY_OBJECT.delete" [value]="property"> {{property}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <div class="value-list">
                  <div *ngFor="let valueItem of item.value;let j=index"> <button mat-mini-fab
                      (click)="arrayAction(item.value,'remove',j,null)" *ngIf="item.value.length>1" color="warn">
                      <mat-icon>remove</mat-icon>
                    </button>
                    <div class="row column">
                      <app-strong-input [(ngModel)]="valueItem" [typeName]="'keyType'" [valueName]="'key'"
                        *ngIf="item.property=='body'||item.property=='headers'||item.property=='params'"
                        [placeholder]="'键值'" [propertyTypeOptions]="strongType('key',valueItem.property)">
                      </app-strong-input>
                    </div>
                  </div>
                  <div class="add__button__row"> <button mat-mini-fab
                      (click)="arrayAction(item.value,'add',null,{value:''});arrayAction(item.change,'add',null,{value:''});">
                      <mat-icon>add</mat-icon>
                    </button> </div>
                </div>
              </div>
            </div>
            <div class="add__button__row"> <button mat-mini-fab
                (click)="arrayAction(requestItem.delete,'add',null,{value: [{ value: '' }],change: [{ value: '' }]})">
                <mat-icon>add</mat-icon>
              </button></div>
          </div>
        </main>
      </div>
      <mat-divider></mat-divider>
      <div class="hover-8">
        <header>返回值替换</header>
        <main>
          <div class="row between">
            <div>
              <mat-form-field class="p-2">
                <input matInput placeholder="输入状态码" [(ngModel)]="responseList[z].replace.statusCode" type="number">
              </mat-form-field>
              <mat-form-field class="p-2">
                <input matInput placeholder="输入状态码" [(ngModel)]="responseList[z].replace.replaceStatusCode"
                  type="number">
              </mat-form-field>
              <mat-checkbox [(ngModel)]="responseList[z].replace.isJson">
                {{responseList[z].replace.isJson?'true':'false'}}
              </mat-checkbox>
              <mat-form-field>
                <textarea name="" id="" rows="10" matInput placeholder="输入替换值"
                  [(ngModel)]="responseList[z].replace.responseData"></textarea>
              </mat-form-field>
            </div>
          </div>
        </main>
      </div>
    </mat-card-content>
    <mat-card-actions> <button mat-button color="primary" (click)="save(z)">保存</button> <button mat-button
        color="danger" (click)="arrayAction(requestList,'remove',z)">删除</button> </mat-card-actions>
  </mat-card>
</div>
<div class="add__button__row"> <button mat-fab
    (click)="arrayAction(requestList,'add',null,DEFAULT_REQUESTCONFIG);arrayAction(responseList,'add',null,DEFAULT_RESPONSECONFIG);">
    <mat-icon>add</mat-icon>
  </button></div>
  